<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Ticket to Mars is here 🚀</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center">Your Ticket to Mars is here 🚀</h2>
    <div class="alert alert-info text-center">
        <p>Your invite token: <strong>{{ invite_token }}</strong></p>
    </div>
    <p class="text-center">Use this token to access Portal to Mars. Remember the word "token". Happy Journey! 😊</p>
</div>
</body>
</html>
