<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Planet Mars</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center">Welcome to Planet Mars</h2>
    <p class="text-center">If you wanna come to Mars, you need invitation from Elon. Get yours from the planet Earth. </p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning mt-3">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>
</body>
</html>
